In [20]:
import pandas as pd
pd.options.display.max_columns = None # Muestra todas las columnas de los dataframes
import json
import warnings
warnings.filterwarnings("ignore") # No muestra advertencias 
import re
import ast
import pyarrow
# Leo el archivo 'steam_games_output_limpio' y me quedo con lo que necesito
df = pd.read_parquet('steam_games_output_limpio.parquet')
df = df[['title', 'id']]
df.rename(columns={'id': 'item_id'}, inplace=True)
df1 = df.drop_duplicates(keep='first')
df1.reset_index(drop=True, inplace=True)
df1['item_id'] = df1['item_id'].astype(str)
# Guardo el archivo
df1.to_parquet('ml_title_item_id.parquet')
# Leo el archivo 'genres', que relaciona géneros con item id´s y lo guardo como parquet
df = pd.read_csv('Genres.csv')
df.to_parquet('ml_genres.parquet')
# Leo el archivo 'reviews' y lo guardo como parquet
df = pd.read_csv('reviews.csv')
df.to_parquet('ml_reviews.parquet')

In [16]:
df1

                          title item_id
0           Lost Summoner Kitty  761140
1                     Ironbound  643980
2       Real Pool 3D - Poolians  670290
3                       弹炸人2222  767400
4         Battle Royale Trainer  772540
...                         ...     ...
27823              Kebab it Up!  745400
27824            Colony On Mars  773640
27825  LOGistICAL: South Africa  733530
27826             Russian Roads  610660
27827       EXIT 2 - Directions  658870

[27828 rows x 2 columns]